@import reset.css;

body {
    font-family:Verdana;
    max-width:100%;
}

a {
    text-decoration:none;
}

:focus {
    outline:none;
}

#left {
    float:left;
    width:15%;
}

#right {
    float:left;
    width:85%;
}

#logo {
    background:url(../images/theme_logo.png) no-repeat 55px;
    background-color:#f7f7f7;
    min-height:145px;
    border-bottom:1px solid #ebebeb;
    border-right:1px solid #ebebeb;
}

#tools a {
    font-size:15px;
    color:#666;
    text-decoration:none;
    text-shadow:1px 1px #fff;
}
#tools ul {
    padding-left: 0px;
}
#tools li {
    border-top:1px solid #fff;
    border-bottom:1px solid #ebebeb;
    border-right:1px solid #ebebeb;
    background-color:#f7f7f7;
    padding:12px 15px;
    list-style: none;
}

#tools li:hover {
    background-color:#fbfbfb;
}

#tools .select {
    padding-left:10px;
    border-left:5px solid #ea533f;
    background-color:#fff;
    border-right:none;
    background-image:none;
    color:#333;
}

#tools .select:hover {
    background-color:#fff;
}

#yazilar {
    background:url(../images/yazilar.png) no-repeat 165px;
}

#medya {
    background:url(../images/medya.png) no-repeat 165px;
}

#sayfalar {
    background:url(../images/sayfalar.png) no-repeat 165px;
}

#baglantilar {
    background:url(../images/baglantilar.png) no-repeat 165px;
}

#yorumlar {
    background:url(../images/yorumlar.png) no-repeat 165px;
}

#bilesenler {
    background:url(../images/widgets.png) no-repeat 165px;
}

#eklentiler {
    background:url(../images/eklentiler.png) no-repeat 165px;
}

#kullanicilar {
    background:url(../images/kullanicilar.png) no-repeat 165px;
}

#araclar {
    background:url(../images/araclar.png) no-repeat 165px;
}

#ayarlar {
    background:url(../images/ayarlar.png) no-repeat 165px;
}

#keep {
    background-color:#f7f7f7;
    border-right:1px solid #ebebeb;
    border-top:1px solid #fff;
    position:fixed;
    top:0;
    bottom:0;
    width:15%;
    margin-top:610px;
    height:100%;
}

.number {
    background:url(../images/button_bg.png) repeat-x;
    font-size:13px;
    color:#fff;
    text-shadow:1px 1px #d23e2a;
    border-radius:2px;
    border:1px solid #db301a;
    margin-left:5px;
    padding:0 4px;
}

#header {
    height:49px;
    border-bottom:1px solid #ebebeb;
}

#other {
    float:right;
    margin-right:204px;
    width:200px;
}

#arti,#bulut,#yorum,#zil,#wordpress {
    position:relative;
    float:left;
    height:49px;
    width:49px;
}

.add {
    position:relative;
    float:left;
    height:49px;
    width:49px;
    background:url(../images/add.png) 16px no-repeat;
    border-right:1px solid #ebebeb;
}

#bulut,#yorum,#zil,#wordpress {
    border-left:1px solid #ebebeb;
}

#bulut {
    background:url(../images/bulut.png) 16px no-repeat;
}

#yorum {
    background:url(../images/yorumlar.png) 16px no-repeat;
}

#yorum_sayi {
    text-align:right;
    position:absolute;
    background:url(../images/sayi_bg.png) repeat-x;
    background-color:#ea5440;
    font-size:10px;
    text-shadow:1px 1px #d23e2a;
    color:#fff;
    border:1px solid #db301a;
    border-radius:2px;
    margin:5px 0 0 80px;
    padding:0 3px;
}

#zil {
    background:url(../images/zil.png) 16px no-repeat;
}

#wordpress {
    background:url(../images/wordpress.png) 16px no-repeat;
}

.plus .text {
    float:left;
    line-height:50px;
    padding-left:15px;
    font-weight:700;
}

#body {
    padding:25px 30px;
}

.p_title {
    margin-bottom:20px;
    font-size:18px;
    font-weight:700;
    color:#ea533f;
    padding:5px 5px 5px 40px;
}

.home_icon {
    background:url(../images/home-icon.png) 5px no-repeat;
}

#b_left,#b_right {
    border:1px solid #ebebeb;
    border-radius:5px;
    width:315px;
    float:left;
    margin-right:30px;
    padding:20px 15px;
}

.bl_title {
    font-size:17px;
    color:#000;
    margin-bottom:15px;
}

.bll_title {
    color:#666;
    font-size:15px;
}

.dots {
    background:url(../images/dots.png) no-repeat;
    width:121px;
    height:1px;
    margin:11px 0;
}

#bl_1,#bl_2 {
    float:left;
    width:150px;
}

#bl_1 {
    color:#666;
}

#bl_1 li,#bl_2 li {
    margin-bottom:18px;
}

#bll_1,#bll_2,#blc_1,#blc_2 {
    float:left;
    font-size:14px;
}

#bll_1,#blc_1 {
    width:35px;
    color:#1b6aad;
    text-align:right;
    margin-right:15px;
}

.blue {
    color:#1b6aad;
}

.green {
    color:#69ae30;
}

.orange {
    color:#f6810f;
}

.red {
    color:#f32f2f;
}

#theme_notice {
    font-size:13px;
    color:#666;
    float:left;
    margin-top:20px;
}

#i_save {
    height:16px;
    margin-bottom:7px;
}

#b_right input {
    background-color:#f6f6f6;
    border:none;
    font-size:14px;
    margin-bottom:7px;
    width:295px;
    color:#666;
    padding:10px;
}

#i_publish {
    margin-top:20px;
}

#save,#del,.publish {
    border:none;
    border-radius:3px;
    cursor:pointer;
}

#save,#del {
    border:1px solid #d7d7d7;
    padding:5px 15px;
}

#save {
    background:url(../images/kayit.png),url(../images/button2_bg.png);
    background-repeat:no-repeat,repeat-x;
    background-position:7px 0;
}

#save:active {
    background:url(../images/kayit.png),url(../images/button2_bg.png);
    background-repeat:no-repeat,repeat-x;
    background-position:7px -29px;
}

#del {
    background:url(../images/sil.png),url(../images/button2_bg.png);
    background-repeat:no-repeat,repeat-x;
    background-position:7px 0;
}

#del:active {
    background:url(../images/sil.png),url(../images/button2_bg.png);
    background-repeat:no-repeat,repeat-x;
    background-position:7px -29px;
}

.publish {
    background:url(../images/button_bg.png) repeat-x;
    border:1px solid #db311a;
    font-size:14px;
    color:#fff;
    text-shadow:1px 1px #ad3727;
    padding:5px 13px;
}

.publish:active {
    background:url(../images/button_bg.png) repeat-x 0 -29px;
}

#footer {
    border-top:1px solid #ebebeb;
    position:fixed;
    bottom:0;
    height:50px;
    width:85%;
    margin-left: 15%;
}

#f_left {
    float:left;
    font-size:15px;
    color:#0d8cc8;
    padding:13px 15px 15px 20px;
}

#f_right {
    float:right;
    margin-right:204px;
}

#user,#setting,#exit {
    position:relative;
    height:49px;
    float:left;
    border-left:1px solid #ebebeb;
}

#setting,#exit {
    width:50px;
}

#setting {
    background:url(../images/settings.png) 16px no-repeat;
}

#exit {
    background:url(../images/exit.png) 16px no-repeat;
}

#user {
    background:url(../images/anibor.png) no-repeat 10px;
    width:50px;
    padding-right:70px;
    padding-top:2px;
}

#user font {
    position:absolute;
    font-size:15px;
    color:#666;
    padding-left:5px;
    margin:14px 0 0 50px;
}

#i_save ul,#i_publish .publish {
    float:right;
}

#i_save li,#i_publish li,#f_right li {
    display:inline;
}

.access_box .access_title {
    text-align: right;
    padding-right: 10px;
}

.access_box input[type=checkbox] {
    width: auto;
}