/* 
    Document   : common
    Created on : 3/09/2013, 11:51:40 AM
    Author     : Admin
    Description:
        Purpose of the stylesheet follows.
*/



/*   ----- START  FORM COMMON FORM CSS  */

.control-input { 
    float: left; 
    width: 100%;
    margin: 10px 0px;
}
.control-input label {
    float: left;
    width: 20%;
    max-width: 200px;
    text-align: right;
    padding-right: 2%;
    line-height: 40px;
}
.control-input input {
    float: left;
    width: 80%;
    max-width: 300px;
}
.control-input select {
    float: left;
    width: 80%;
    max-width: 315px;
    padding: 10px 5px;
}
.control-input .btn { 
    float: left; 
    width: 20%; 
}
.control-input .btn input[type=button] {
    background: transparent;
    border: none;
    color: #fff;
}
.control-input .cancel { 
    margin-left: 10px; 
    color: #fff;
}
.control-input .btn-success input[type=button] , .control-input .btn-success input[type=submit] {
    width: auto;
}
.control-input .btn-success {
    width: auto;
}
.submit-input input.btn-small[type="submit"] {
    width: auto;
}
.btn.btn-small { 
    padding: 12px 18px 13px; 
    line-height: 20px; 
    width: auto;
}
/*   ----- STOP   FORM COMMON FORM CSS  */