html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,
center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend {
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    margin:0;
    padding:0;
}

body {
    background:#e7e9eb url(../images/header_bg.jpg) center top no-repeat;
    text-align:center;
    line-height:21px;
    font-family:Arial, Verdana, sans-serif;
    font-size:12px;
    color:#434343;
    text-shadow:1px 1px 1px #fff;
    min-height:25px;
}

ol,ul {
    list-style:none;
}

blockquote,q {
    quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content:none;
}

:focus {
    outline:0;
}

del {
    text-decoration:line-through;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

a {
    text-decoration:none;
    color:#262626;
    text-shadow:1px 1px 1px #fff;
}

.clear {
    clear:both;
}

br.clear {
    margin:0;
    padding:0;
}

h1,h2,h3,h4,h5,h6 {
    padding-bottom:5px;
    color:#262626;
    letter-spacing:-1px;
    line-height:1em;
    font-weight:400;
    font-family:Georgia, serif;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
    color:#262626!important;
    font-weight:400!important;
}

h1 {
    font-size:36px;
}

h4 {
    font-size:18px;
}

h5 {
    font-size:16px;
}

h6 {
    font-size:14px;
}

p {
    padding-bottom:10px;
    line-height:24px;
}

strong {
    font-weight:700;
    color:#1c1c1c;
}

cite,em,i {
    font-style:italic;
}

pre,code {
    font-family:Courier New, monospace;
    margin-bottom:10px;
}

sup,sub {
    height:0;
    line-height:1;
    position:relative;
    vertical-align:baseline;
}

sup {
    bottom:.8em;
}

sub {
    top:.3em;
}

dl {
    margin:0 0 1.5em;
}

dl dt {
    font-weight:700;
}

dd {
    margin-left:1.5em;
}

blockquote {
    color:#666;
    background:#e6e6e6;
    font-style:italic;
    border:1px solid #dcdcdc;
    margin:1.5em;
    padding:1em;
}

blockquote p {
    padding-bottom:0;
}

input[type=text],input[type=password],input.title,textarea,select {
    box-sizing: border-box;
    background: linear-gradient(to bottom, #F3F3F3 1%, #FEFEFE 100%) repeat scroll 0 0 transparent;
    border: 1px solid #E7E7E7;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1) inset;
    color: #363636;
    font-size: 14px;
    margin: 0 !important;
    padding: 10px 10px 10px 20px;
}


img#about-image {
    float:left;
    margin:3px 8px 8px 0;
}

.clearfix:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}

#page-wrap {
    text-align:left;
    width:960px;
    position:relative;
    margin:0 auto;
}

#header {
    padding-top:45px;
}

img#logo {
    float:left;
    margin:0 15px 0 0;
}

.sitename {
    font-family:Georgia, serif;
    font-style:italic;
    color:#262626;
    font-size:1.5em;
    float:left;
    background:url(../images/separator.png) 0 0 no-repeat;
    margin:-2px 0;
    padding:14px 0 3px 30px;
}

#services .first {
    background:none!important;
}

#services img.icon {
    position:absolute;
    left:23px;
    top:31px;
}

#services .one-third.first img.icon {
    left:18px;
}

#services h3.title {
    font-size:24px;
    margin-bottom:-4px;
    line-height:1.3em;
    text-shadow:1px 1px 1px #fff;
}

#services p.tagline {
    font-family:Georgia, serif;
    font-style:italic;
    color:#a0a7ac;
    margin-bottom:-8px;
}

#content {
    width:920px;
    padding:30px 20px;
}

#content.nudge {
    margin-top:-46px;
}

#content.pagefull_width,.pagefull_width #content-area {
    background:none;
    width:100%;
}

div.entry {
    background:url(../images/separator_bg.png) bottom left repeat-x;
    width:900px;
    padding:30px 20px;
}

#content.pagefull_width div.entry {
    width:900px;
}

div.entry a,div#comment-section a {
    color:#000;
    font-weight:700;
}

div.entry.homepage {
    padding-bottom:0;
    background:none;
}

div.entry h2.title,div.entry h1.title {
    padding-bottom:22px;
}

div.entry img.thumbnail-post {
    border:8px solid #fff;
    box-shadow:3px 6px 8px 1px rgba(0,0,0,0.3);
    -moz-box-shadow:3px 6px 8px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow:3px 6px 8px 1px rgba(0,0,0,0.3);
    margin-right:23px;
    margin-bottom:17px;
    margin-top:7px;
}

#breadcrumbs {
    margin-top:-32px;
    background:url(../images/separator_bg.png) bottom left repeat-x;
    padding:0 0 15px 25px;
}

#breadcrumbs,#breadcrumbs a {
    color:#a0a7ac;
    font-style:italic;
    font-family:Georgia, serif;
}

h2.title a:hover {
    color:#000!important;
    text-decoration:none;
}

p.post-meta {
    margin-top:-12px;
    line-height:22px;
    padding:0 0 10px 4px;
}

p.post-meta,p.post-meta a {
    color:#a0a7ac;
    font-family:Georgia, serif;
    font-style:italic;
    font-weight:400;
}

p.post-meta a:hover,#breadcrumbs a:hover {
    color:#111;
    text-decoration:none;
}

.entry ul {
    list-style-type:disc;
    margin:10px 0 10px 20px;
}

.entry ol {
    list-style-type:decimal;
    list-style-position:inside;
    margin:10px 0 10px 2px;
}

.entry ul li ul,.entry ul li ol {
    margin:2px 0 2px 20px;
}

.entry ol li ul,.entry ol li ol {
    margin:2px 0 2px 35px;
}

ul.navigation:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
ul.navigation:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
ul.navigation {
    background:#f3f4f5 url(../images/white_line.jpg) repeat-x;
    border:1px solid #c7ced1;
    margin-top:25px;
    font-family:Arial, Verdana, sans-serif;
    font-size:14px;
    margin-bottom:46px;
    padding-top:1px;
}

ul.navigation li {
    border-left:1px solid #fff;
    border-right:1px solid #c7ced1;
}

ul.navigation li a {
    color:#434343;
    padding:14px 12px 13px;
}

ul.navigation > li:last-child {
    border-right:none;
    background:url(../images/grey_white_line.jpg) repeat-y top right;
    padding-right:2px;
}

ul.navigation ul {
    border-left:1px solid #fff;
    border-right:1px solid #c7ced1;
    border-bottom:1px solid #c7ced1;
    top:49px!important;
    left:-1px!important;
    box-shadow:3px 6px 8px 1px rgba(0,0,0,0.3);
    -moz-box-shadow:3px 6px 8px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow:3px 6px 8px 1px rgba(0,0,0,0.3);
    border-top:1px solid #fff;
}

ul.navigation > ul {
    background:url(../images/first_element.jpg) 0 0 no-repeat;
}

ul.navigation ul li a {
    background:#e8ebec url(../images/second_line.jpg) repeat-x bottom left;
}

ul.navigation ul li a:hover {
    background-color:#d6dadd;
}

ul.navigation ul ul {
    left:203px!important;
    top:-2px!important;
    border-top:none;
    background:#e8ebec url(../images/second_line.jpg) repeat-x;
    padding-top:2px;
}

ul.navigation li li {
    border-left:none;
}

ul.navigation li li a {
    width:180px;
    padding:13px 4px 13px 18px;
}

ul.navigation ul li.last-nav-element > a {
    background-image:none;
}


div#footer {
    border:1px solid #c7ced1;
    margin-bottom:35px;
    background-color:#f3f4f5;
    height:45px;
}

div#footer-content {
    border-left:1px solid #fff;
    border-top:1px solid #fff;
}

ul.bottom-menu li {
    float:left;
    padding-top:12px;
    padding-left:22px;
}

ul.bottom-menu li a {
    padding-right:10px;
    color:#434343;
    text-transform:lowercase;
}

p#copyright {
    float:right;
    padding-top:10px;
    padding-right:15px;
    font-size:11px;
}

div#sidebar {
    float:right;
    width:317px;
}

div.sidebar-block {
    background:url(../images/separator_bg.png) repeat-x bottom left;
    padding:28px 5px 20px 30px;
}

#tabbed {
    position:relative;
    padding:0;
}

ul#tabbed-area {
    background:url(../images/tabbed-area-bg.png) no-repeat;
}

ul#tabbed-area li.ui-state-active {
    background:url(../images/active-tab-arrow.png) no-repeat bottom center;
    padding-bottom:11px;
}

ul#tabbed-area li {
    text-align:center;
    float:left;
    margin-right:2px;
}

ul#tabbed-area li a {
    color:#404040;
    display:block;
    padding:13px 3px 10px;
}

ul#tabbed-area li a:hover {
    text-decoration:none;
    background-color:#e8ebec;
}

ul#tabbed-area li.first a {
    width:91px;
}

ul#tabbed-area li.second a {
    width:112px;
}

ul#tabbed-area li.last {
    margin-right:0;
}

ul#tabbed-area li.last a {
    width:90px;
}

div#recent-tabbed.widget {
    padding-top:25px;
}

div.sidebar-block .widget ul ul {
    margin-left:9px;
}

.widget ul {
    margin-bottom:5px;
}

.widget ul ul {
    margin-bottom:0;
}

.widget ul li {
    background:url(../images/bullet.png) no-repeat 0 10px;
    color:#262626;
    padding:5px 0 8px 18px;
}

.widget ul li ul {
    margin:0 0 -12px;
    padding:5px 0 0 7px;
}

div#recent-tabbed,div#popular-tabbed,div#random-tabbed {
    padding-top:25px;
    padding-left:35px;
    padding-bottom:25px;
}

div.widget h3.widgettitle {
    padding-bottom:20px;
}

div.post .new-post .aligncenter,.aligncenter {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.wp-caption {
    border:1px solid #ddd;
    text-align:center;
    background-color:#f3f3f3;
    padding-top:4px;
    margin-bottom:10px;
}

.wp-caption.alignleft {
    margin:0 10px 10px 0;
}

.wp-caption.alignright {
    margin:0 0 10px 10px;
}

.wp-caption img {
    border:0 none;
    margin:0;
    padding:0;
}

.wp-caption p.wp-caption-text {
    font-size:11px;
    line-height:17px;
    margin:0;
    padding:0 4px 5px;
}

img.alignleft {
    display:inline;
    float:left;
    margin-right:15px;
}

img.alignright {
    display:inline;
    float:right;
    margin-left:15px;
}

.navigation ul {
    position:absolute;
    top:-999em;
    background-position:bottom;
    background-repeat:no-repeat;
    z-index:10;
}

.navigation li {
    float:left;
    position:relative;
}

.navigation a {
    display:block;
    float:left;
}

.navigation li:hover ul,ul.navigation li.sfHover ul {
    left:0;
    top:35px;
}

.navigation li li:hover ul,ul.navigation li li.sfHover ul {
    left:203px;
    top:0;
}

.navigation li li {
    display:block;
    float:left;
    height:auto!important;
    padding:0;
}

.navigation li ul {
    width:202px;
    display:none;
}

.navigation li li a:link,.navigation li li a:visited {
    display:block;
    height:auto;
    float:left;
}

.navigation li:hover {
    visibility:inherit;
}

#wp-calendar {
    empty-cells:show;
    width:240px;
    margin:10px auto 0;
}

#wp-calendar a {
    display:block;
    text-decoration:none;
    font-weight:700;
}

#wp-calendar caption {
    text-decoration:none;
    font:bold 13px Arial, Sans-Serif;
}

#wp-calendar td {
    color:#9f9f9f;
    padding:3px 5px;
}

#wp-calendar td#today {
    color:#000;
}

#wp-calendar th {
    font-style:normal;
    text-transform:capitalize;
    padding:3px 5px;
}

#wp-calendar #prev a,#wp-calendar #next a {
    font-size:9pt;
}

#wp-calendar #next a {
    padding-right:10px;
    text-align:right;
}

#wp-calendar #prev a {
    padding-left:10px;
    text-align:left;
}

.pagination {
    overflow:hidden;
    padding:15px 12px 0;
}

.wp-pagenavi {
    position:relative;
    padding:25px 0 5px 20px;
}

.wp-pagenavi a,.wp-pagenavi a:link {
    background:url(../images/pagenavi-bg.png) no-repeat!important;
    font-weight:700;
    color:#FFF!important;
    border:none!important;
    text-shadow:1px 1px 1px #86949b;
    margin:2px;
    padding:11px 14px 17px 15px !important;
}

.wp-pagenavi a:visited {
    background:url(../images/pagenavi-bg.png) no-repeat!important;
    font-weight:700;
    color:#FFF!important;
    border:none!important;
    margin:2px;
    padding:9px 15px 11px 12px !important;
}

.wp-pagenavi span.pages {
    color:#989898!important;
    border:none!important;
    background:none!important;
    margin:2px!important;
    padding:5px 7px!important;
}

.wp-pagenavi span.current,.wp-pagenavi span.extend,.wp-pagenavi a:active,.wp-pagenavi a:hover {
    background:url(../images/pagenavi-current-bg.png) no-repeat!important;
    font-weight:700;
    border:none!important;
    text-shadow:-1px -1px 1px #fff;
    color:#262626!important;
    margin:2px;
    padding:9px 15px 11px 12px !important;
}

.foursixeight {
    margin:15px 0 15px 84px;
}

.fullwidth {
    width:100%!important;
}

.et_pt_blogentry a.readmore {
    color:#282828!important;
}

.et_pt_gallery_entry {
    margin:0 0 32px 20px !important;
}

#comment-wrap .navigation {
    padding:10px 0;
}

h3#reply-title small {
    display:block;
}

h3#reply-title small a {
    font-size:12px;
    letter-spacing:0;
}

.commentlist #respond textarea#comment {
    width:98%!important;
}

.comment_navigation_bottom {
    padding:12px 0;
}

.comment_navigation_top {
    padding:12px 0 0;
}

.et_embedded_videos {
    display:none!important;
}

.js #featured_content {
    background:url(../images/ajax-loader.gif) no-repeat center;
    min-height:231px;
}

ins,#services h3.title a:hover,ul.navigation li a:hover,div.description h2 a:hover,.reply-container a:hover,a.readmore:hover,#sidebar div.custom-sidebar-block ul.control li a:hover,ul#cats-menu li a:hover,ul#page-menu li a:hover,div#slider-control div.featitem h2 a {
    text-decoration:none;
}

a:hover,#wp-calendar a:hover {
    text-decoration:underline;
}

.ui-tabs-hide,.js #feat-content,.js div#from-blog div.entries,.js div#tabbed,.js #featured_content .slide {
    display:none;
}

h2,h3#comments,h3#reply-title span {
    font-size:30px;
}

h3,h3.title {
    font-size:24px;
}

* html .clearfix,:first-child+html .clearfix {
    zoom:1;
}

#content-area,.alignleft,.nav-previous {
    float:left;
}

ul.navigation > li > a:hover,ul.navigation > li.current_page_item > a,ul.navigation > li.current-cat > a,ul#tabbed-area li.ui-state-active a {
    background:#e8ebec;
}

ul.navigation li:hover a,ul#tabbed-area li.ui-state-active a:hover {
    background-color:#e8ebec;
}

.reply-container,.alignright,.nav-next {
    float:right;
}


.navigation li:hover li ul,.navigation li.sfHover li ul,.navigation li:hover ul,.navigation li li:hover ul {
    top:-999em;
}

/*------------------------------------------------*/
/*-------------------[SHORTCODES]-----------------*/
/*------------------------------------------------*/

.et-box { margin: 0px 0px 10px; -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1); box-shadow: 0 1px 1px rgba(0,0,0,0.1); font-size: 14px; position: relative; }
.et-box-content { text-shadow: 1px 1px 1px #ffffff; padding: 27px 43px 17px 66px; min-height: 35px; }
.et-box-content strong { color: #000000; font-weight: bold; }

.et-warning:before, .et-download:before, .et-info:before, .et-bio:before, .et-shadow:before { content: ''; position: absolute; top: 32px; left: 28px; }

.et-info { border: 1px solid #e2e2ba; }
.et-info:before { width: 22px; height: 20px; background: url(../images/shortcodes-sprite.png) no-repeat -97px -2px; }
.et-info .et-box-content { color: #ada771; background: #f9f9dc; border: 1px solid #fbfbef; -moz-box-shadow: inset 0 0 45px #efefc0; -webkit-box-shadow: inset 0 0 45px #efefc0; box-shadow: inset 0 0 45px #efefc0; }
.et-info .et-box-content h1, .et-info .et-box-content h2, .et-info .et-box-content h3, .et-info .et-box-content h4, .et-info .et-box-content h5, .et-info .et-box-content h6 { color: #ada771; }

.et-warning { border: 1px solid #e0b1b1; }
.et-warning:before { width: 17px; height: 17px; background: url(../images/shortcodes-sprite.png) no-repeat -75px -41px; }
.et-warning .et-box-content { color: #ad7676; background: #ffd9d5; border: 1px solid #fceeec; -moz-box-shadow: inset 0 0 45px #f0bfba; -webkit-box-shadow: inset 0 0 45px #f0bfba; box-shadow: inset 0 0 45px #f0bfba; }
.et-warning .et-box-content h1, .et-warning .et-box-content h2, .et-warning .et-box-content h3, .et-warning .et-box-content h4, .et-warning .et-box-content h5, .et-warning .et-box-content h6 { color: #ad7676; }

.et-download { border: 1px solid #b9dbb6; }
.et-download:before { width: 19px; height: 14px; background: url(../images/shortcodes-sprite.png) no-repeat -23px -19px; }
.et-download .et-box-content { color: #7ea57b; background: #dff7dd; border: 1px solid #f1f9f0; -moz-box-shadow: inset 0 0 45px #cbe5c9; -webkit-box-shadow: inset 0 0 45px #cbe5c9; box-shadow: inset 0 0 45px #cbe5c9; }
.et-download .et-box-content h1, .et-download .et-box-content h2, .et-download .et-box-content h3, .et-download .et-box-content h4, .et-download .et-box-content h5, .et-download .et-box-content h6 { color: #7ea57b; }

.et-bio { border: 1px solid #b3d8d3; }
.et-bio:before { width: 19px; height: 15px; background: url(../images/shortcodes-sprite.png) no-repeat -23px -2px; top: 33px; }
.et-bio .et-box-content { color: #80acb0; background: #ddf5f7; border: 1px solid #f1fafb; -moz-box-shadow: inset 0 0 45px #c6edf0; -webkit-box-shadow: inset 0 0 45px #c6edf0; box-shadow: inset 0 0 45px #c6edf0; }
.et-bio .et-box-content h1, .et-bio .et-box-content h2, .et-bio .et-box-content h3, .et-bio .et-box-content h4, .et-bio .et-box-content h5, .et-bio .et-box-content h6 { color: #80acb0; }

.et-shadow { border: 1px solid #ddd; }
.et-shadow .et-box-content { color: #737373; background: #fafafa; border: 1px solid #fafafa; -moz-box-shadow: inset 0 0 45px #e7e7e7; -webkit-box-shadow: inset 0 0 45px #e7e7e7; box-shadow: inset 0 0 45px #e7e7e7; }
.et-shadow .et-box-content h1, .et-shadow .et-box-content h2, .et-shadow .et-box-content h3, .et-shadow .et-box-content h4, .et-shadow .et-box-content h5, .et-shadow .et-box-content h6 { color: #737373; }


.et-tooltip { position: relative; }
.et-tooltip-box { display: none; color: #6d6e6e; line-height: 18px; background: #ffffff; border: 1px solid #dbdbdb; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; position: absolute; bottom:35px; left: -94px; width: 235px; padding: 20px 25px 22px 25px; -moz-box-shadow:1px 1px 5px 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1); box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1); }
.et-tooltip-arrow { background: url(../images/shortcodes-sprite.png) no-repeat -120px -2px; width: 24px; height: 13px; display: block; position: absolute; bottom: -13px; left: 129px; }


.et-learn-more { background: #fff; border: 1px solid #e7e7e7; margin: 10px 0px; -moz-box-shadow: 1px -1px 0 0 #fff; -webkit-box-shadow: 1px -1px 0 0 #fff; box-shadow: 1px -1px 0 0 #fff; }
.et-learn-more h3.heading-more { cursor: pointer; padding: 16px 50px 16px 22px; font-size: 14px; color: #999; letter-spacing: 0px; text-shadow: 1px 1px 0 #fff; position: relative; border-left: 1px solid #fff; border-top: 1px solid #fff; margin: 0 !important; }
.et-learn-more h3.heading-more span.et_learnmore_arrow { display: block; position: absolute; top: 0; right: 0; width: 48px; height: 100%; border-left: 1px solid #fff; -moz-box-shadow: -1px 0 0 0 #e7e7e7; -webkit-box-shadow: -1px 0 0 0 #e7e7e7; box-shadow: -1px 0 0 0 #e7e7e7; }
.et-learn-more span.et_learnmore_arrow span { display: block; position: absolute; top: 50%; left: 50%; margin-top: -5px; margin-left: -6px; width: 13px; height: 10px; background: url(../images/shortcodes-sprite.png) no-repeat -58px -2px; }
.et-learn-more .open span.et_learnmore_arrow span { background-position: -58px -14px; }
.et-learn-more .learn-more-content { padding: 30px 30px 20px; visibility: hidden; border-top: 1px solid #e7e7e7; }
.et_slidecontent .et-learn-more .learn-more-content { display: block; visibility: hidden; }
.et-open .learn-more-content { display: block; visibility: visible !important; }

.et_shortcodes_controller_nav { border-top: 1px solid #e7e7e7; -moz-box-shadow: inset 1px 1px 0 0 #fff; -webkit-box-shadow: inset 1px 1px 0 0 #fff; box-shadow: inset 1px 1px 0 0 #fff; min-height: 53px; position: relative; }
.et_shortcodes_controls_arrows, .et_shortcodes_controls { list-style: none !important; margin: 0 !important; padding: 0 !important; line-height: 26px !important; }
.et_shortcodes_controls { text-align: center; padding-top: 20px !important; line-height: 0 !important; }
.et_shortcodes_controls li { display: inline-block; margin: 0 3px; }
.et_shortcodes_controls a { background: url(../images/shortcodes-sprite.png) no-repeat -45px -1px; width: 11px; height: 11px; display: inline-block; }
.et_shortcodes_controls .et_shortcodes_active_control a { background-position: -45px -14px; }
.et_shortcodes_controls_arrows a { font-size: 14px; color: #999 !important; text-shadow: 1px 1px 0 #fff; position: absolute; top: 0; }
.et_shortcodes_controls_arrows a:hover { color: #4c4c4c; text-decoration: none; }
.et_shortcodes_controls_arrows .et_sc_nav_prev { padding: 14px 38px 12px 48px; border-right: 1px solid #e7e7e7; -moz-box-shadow: 1px 0 0 0 #fff; -webkit-box-shadow: 1px 0 0 0 #fff; box-shadow: 1px 0 0 0 #fff; left: 0; }
.et_shortcodes_controls_arrows .et_sc_nav_next { padding: 14px 48px 12px 38px; border-left: 1px solid #fff; -moz-box-shadow: -1px 0 0 0 #e7e7e7; -webkit-box-shadow: -1px 0 0 0 #e7e7e7; box-shadow: -1px 0 0 0 #e7e7e7; right: 0; }
.et_shortcodes_controls_arrows .et_sc_nav_next span, .et_shortcodes_controls_arrows .et_sc_nav_prev span { top: 21px; }
.et_shortcodes_controls_arrows .et_sc_nav_next span { right: 30px; }
.et_shortcodes_controls_arrows .et_sc_nav_prev span { left: 30px; }

.et-simple-slider { background: #fff; border: 1px solid #e7e7e7; margin: 10px 0; position: relative; }
.et-simple-slider h1, .et-simple-slider h2, .et-simple-slider h3, .et-simple-slider h4, .et-simple-slider h5, .et-simple-slider h6 { font-family: Century Gothic, Arial, sans-serif; color: #333333; }
.et-simple-slides { overflow: hidden; margin: 30px 30px 20px; }
.et-simple-slider div.et-slide { display: none; width:100% !important; }

.one_half, .one_third, .two_third, .one_fourth , .three_fourth { float:left; margin-right:4%; position:relative; }
.one_half { width: 48%; }
.one_third { width: 30.66%; }
.two_third { width:65.32%; }
.one_fourth { width:22%; }
.three_fourth { width:74%; }

.small-button, .big-button, a.icon-button { display: inline-block; text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.1); box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.4), 1px 1px 1px rgba(0,0,0,0.1); -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; line-height: 26px; }

.small-button, a.icon-button { padding: 6px 14px; font-weight: bold !important; font-size: 12px; margin: 0 5px 8px 0; }
.small-button:hover, .big-button:hover, a.icon-button:hover { text-decoration: none; }

.smallblue, .bigblue { color: #2b63a8 !important; background: #88bdff; background: -moz-linear-gradient(top, #88bdff 0%, #60a7ff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88bdff), color-stop(100%,#60a7ff)); background: -webkit-linear-gradient(top, #88bdff 0%,#60a7ff 100%); background: -o-linear-gradient(top, #88bdff 0%,#60a7ff 100%); background: -ms-linear-gradient(top, #88bdff 0%,#60a7ff 100%); background: linear-gradient(to bottom, #88bdff 0%,#60a7ff 100%); border: 1px solid #3e8ff4; }
.smallblue:hover, .bigblue:hover { color: #23528c !important; }

.smalllightblue { color: #348db6 !important; background: #8edbff; background: -moz-linear-gradient(top, #8edbff 0%, #60cdff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8edbff), color-stop(100%,#60cdff)); background: -webkit-linear-gradient(top, #8edbff 0%,#60cdff 100%); background: -o-linear-gradient(top, #8edbff 0%,#60cdff 100%); background: -ms-linear-gradient(top, #8edbff 0%,#60cdff 100%); background: linear-gradient(to bottom, #8edbff 0%,#60cdff 100%); border: 1px solid #51b5e4; }
.smalllightblue:hover { color: #287295 !important; }

.smallteal, .bigteal, .bigturquoise { color: #3da7a9 !important; background: #61eef0; background: -moz-linear-gradient(top, #61eef0 0%, #59dcde 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#61eef0), color-stop(100%,#59dcde)); background: -webkit-linear-gradient(top, #61eef0 0%,#59dcde 100%); background: -o-linear-gradient(top, #61eef0 0%,#59dcde 100%); background: -ms-linear-gradient(top, #61eef0 0%,#59dcde 100%); background: linear-gradient(to bottom, #61eef0 0%,#59dcde 100%); border: 1px solid #48bec0;}
.smallteal:hover, .bigteal:hover, .bigturquoise:hover { color: #309192 !important; }

.smallgreen, .biggreen { color: #569d51 !important; background: #94e48d; background: -moz-linear-gradient(top, #94e48d 0%, #82cf7c 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94e48d), color-stop(100%,#82cf7c)); background: -webkit-linear-gradient(top, #94e48d 0%,#82cf7c 100%); background: -o-linear-gradient(top, #94e48d 0%,#82cf7c 100%); background: -ms-linear-gradient(top, #94e48d 0%,#82cf7c 100%); background: linear-gradient(to bottom, #94e48d 0%,#82cf7c 100%); border: 1px solid #4dab46; }
.smallgreen:hover, .biggreen:hover { color: #478542 !important; }

.smallorange, .bigorange { color: #c7822f !important; background: #ffcb8c; background: -moz-linear-gradient(top, #ffcb8c 0%, #ffb660 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcb8c), color-stop(100%,#ffb660)); background: -webkit-linear-gradient(top, #ffcb8c 0%,#ffb660 100%); background: -o-linear-gradient(top, #ffcb8c 0%,#ffb660 100%); background: -ms-linear-gradient(top, #ffcb8c 0%,#ffb660 100%); background: linear-gradient(to bottom, #ffcb8c 0%,#ffb660 100%); border: 1px solid #db9c51; }
.smallorange:hover, .bigorange:hover { color: #a96c23 !important; }

.smallsilver { color: #595a5a !important; background: #f5f5f5; background: -moz-linear-gradient(top, #f5f5f5 0%, #e2e2e2 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e2e2e2)); background: -webkit-linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%); background: -o-linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%); background: -ms-linear-gradient(top, #f5f5f5 0%,#e2e2e2 100%); background: linear-gradient(to bottom, #f5f5f5 0%,#e2e2e2 100%); border: 1px solid #c3c3c3; text-shadow: 1px 1px 1px #fff; -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.9), 1px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.9), 1px 1px 1px rgba(0,0,0,0.1); box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.9), 1px 1px 1px rgba(0,0,0,0.1); }
.smallsilver:hover { color: #454545 !important; }

.smallblack { color: #fff !important; background: #5b5b5b; background: -moz-linear-gradient(top, #5b5b5b 0%, #383838 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b5b5b), color-stop(100%,#383838)); background: -webkit-linear-gradient(top, #5b5b5b 0%,#383838 100%); background: -o-linear-gradient(top, #5b5b5b 0%,#383838 100%); background: -ms-linear-gradient(top, #5b5b5b 0%,#383838 100%); background: linear-gradient(to bottom, #5b5b5b 0%,#383838 100%); border: 1px solid #0e0e0e; -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2), 1px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2), 1px 1px 1px rgba(0,0,0,0.1); box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2), 1px 1px 1px rgba(0,0,0,0.1); text-shadow: -1px -1px 0 #000; }
.smallblack:hover { color: #f7f7f7 !important; }

.smallred, .bigred { color: #9a3e3e !important; background: #ff7979; background: -moz-linear-gradient(top, #ff7979 0%, #ff5f5f 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7979), color-stop(100%,#ff5f5f)); background: -webkit-linear-gradient(top, #ff7979 0%,#ff5f5f 100%); background: -o-linear-gradient(top, #ff7979 0%,#ff5f5f 100%); background: -ms-linear-gradient(top, #ff7979 0%,#ff5f5f 100%); background: linear-gradient(to bottom, #ff7979 0%,#ff5f5f 100%); border: 1px solid #d85353; }
.smallred:hover, .bigred:hover { color: #803030 !important; }

.smallpink { color: #914d97 !important; background: #e782f1; background: -moz-linear-gradient(top, #e782f1 0%, #d271da 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e782f1), color-stop(100%,#d271da)); background: -webkit-linear-gradient(top, #e782f1 0%,#d271da 100%); background: -o-linear-gradient(top, #e782f1 0%,#d271da 100%); background: -ms-linear-gradient(top, #e782f1 0%,#d271da 100%); background: linear-gradient(to bottom, #e782f1 0%,#d271da 100%); border: 1px solid #b15cb9; }
.smallpink:hover { color: #753b7a !important; }

.smallpurple, .bigpurple { color: #653e9a !important; background: #b279ff; background: -moz-linear-gradient(top, #b279ff 0%, #a35fff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b279ff), color-stop(100%,#a35fff)); background: -webkit-linear-gradient(top, #b279ff 0%,#a35fff 100%); background: -o-linear-gradient(top, #b279ff 0%,#a35fff 100%);background: -ms-linear-gradient(top, #b279ff 0%,#a35fff 100%); background: linear-gradient(to bottom, #b279ff 0%,#a35fff 100%); border: 1px solid #8b53d8; }
.smallpurple:hover, .bigpurple:hover { color: #563386 !important; }

.big-button { font-weight: normal !important; font-size: 20px; padding: 14px 24px; margin: 8px 6px 8px 0; }
.big-button:hover { text-decoration: none; }

a.icon-button { color: #595a5a !important; background: #f5f5f5; background: -moz-linear-gradient(top, #f5f5f5 0%, #e1e1e1 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e1e1e1)); background: -webkit-linear-gradient(top, #f5f5f5 0%,#e1e1e1 100%); background: -o-linear-gradient(top, #f5f5f5 0%,#e1e1e1 100%);background: -ms-linear-gradient(top, #f5f5f5 0%,#e1e1e1 100%); background: linear-gradient(to bottom, #f5f5f5 0%,#e1e1e1 100%); border: 1px solid #c3c3c3; text-shadow: 1px 1px 1px #fff; -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.9), 1px 1px 1px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.9), 1px 1px 1px rgba(0,0,0,0.1); box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.9), 1px 1px 1px rgba(0,0,0,0.1); padding-left: 36px; position: relative; }
a.icon-button:hover { color: #404040; }
a.icon-button span.et-icon { position: absolute; top: 10px; left: 12px; width: 18px; height: 16px; }


a.download-icon span.et-icon { background: url(../images/shortcodes-sprite.png) no-repeat -3px -2px; width: 17px; height: 20px; top: 7px; }
a.search-icon span.et-icon { background: url(../images/shortcodes-sprite.png) no-repeat -206px -2px; top: 9px; }
a.refresh-icon span.et-icon { background: url(../images/shortcodes-sprite.png) no-repeat -169px -19px; }
a.question-icon span.et-icon { background: url(../images/shortcodes-sprite.png) no-repeat -164px -2px; }
a.people-icon span.et-icon { background: url(../images/shortcodes-sprite.png) no-repeat -151px -33px; height: 17px; top: 9px; }
a.warning-icon span.et-icon { background: url(../images/shortcodes-sprite.png) no-repeat -188px -19px; width: 15px; }
a.mail-icon span.et-icon { background: url(../images/shortcodes-sprite.png) no-repeat -131px -33px; height: 15px; }
a.heart-icon span.et-icon { background: url(../images/shortcodes-sprite.png) no-repeat -131px -18px; width: 14px; height: 13px; top: 12px; left: 14px; }
a.paper-icon span.et-icon { background: url(../images/shortcodes-sprite.png) no-repeat -147px -17px; width: 15px; height: 15px; }
a.notice-icon span.et-icon { background: url(../images/shortcodes-sprite.png) no-repeat -147px -2px; width: 15px; height: 13px; top: 11px; }
a.stats-icon span.et-icon { background: url(../images/shortcodes-sprite.png) no-repeat -184px -2px; width: 15px; height: 14px; top: 11px; }
a.rss-icon span.et-icon { background: url(../images/shortcodes-sprite.png) no-repeat -171px -36px; width: 15px; top: 9px; }


ul.et_shortcodes_mobile_nav { margin: 0 !important; padding: 0 !important; list-style:none outside none !important; display: none; z-index: 2; }
ul.et_shortcodes_mobile_nav a { position: relative; }
ul.et_shortcodes_mobile_nav span, .et_shortcodes_controls_arrows span { position: absolute; top: 23px; display: block; width: 10px; height: 14px; }
ul.et_shortcodes_mobile_nav .et_sc_nav_prev span, .et_shortcodes_controls_arrows .et_sc_nav_prev span { background: url(../images/shortcodes-sprite.png) no-repeat -3px -24px; }
ul.et_shortcodes_mobile_nav .et_sc_nav_next span, .et_shortcodes_controls_arrows .et_sc_nav_next span { background: url(../images/shortcodes-sprite.png) no-repeat -3px -40px; }

.et-tabs-container { background: #fff; border: 1px solid #e7e7e7; position: relative; margin: 50px 0px 15px; }
.et-learn-more h3.heading-more, .et-tabs-container .et-tabs-control, .et-tabs-container ul.et_shortcodes_mobile_nav, .et_shortcodes_controller_nav, .et-testimonial-author-info, .et-protected-title, .pricing-heading, .pricing-content-bottom { background: #f9f9f9; background: -moz-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f5f5f5)); background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f5f5f5 100%); background: -o-linear-gradient(top, #f9f9f9 0%,#f5f5f5 100%); background: -ms-linear-gradient(top,  #f9f9f9 0%,#f5f5f5 100%); background: linear-gradient(to bottom, #f9f9f9 0%,#f5f5f5 100%); }
.et-tabs-container .et-tabs-control, .et-tabs-container ul.et_shortcodes_mobile_nav  { margin: 0px !important; overflow: hidden; border-top: 1px solid #fff; position: relative; }
.et-tabs-container .et-tabs-control:before { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background: #e7e7e7; }
.et-tabs-container .et-tabs-control li { list-style:none outside none; margin: 0 !important; float: left; padding: 0 !important; border-left: 1px solid #e7e7e7; -moz-box-shadow: -1px 0 0 #fff; -webkit-box-shadow: -1px 0 0 #fff; box-shadow: -1px 0 0 #fff; position: relative; }
.et-tabs-container .et-tabs-control li:first-child { border-left: 1px solid #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.et-tabs-container .et-tabs-control li a { font-size: 14px; color: #999 !important; text-shadow: 1px 1px 0 #fff !important; display: block; padding: 15px 20px; }
.et-tabs-container .et-tabs-control li a:hover { color: #4c4c4c !important; text-decoration: none; }
.et-tabs-container .et-tabs-control li.active:before { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background: #fff; }
.et-tabs-container .et-tabs-control li.active a { background: #fff; color: #4c4c4c !important; }
.et-tabs-content-wrapper > div { display: none; }
.et_sliderfx_slide .et-tabs-content-wrapper { width: 1200%; position: relative; left: 0; }
.et_sliderfx_slide .et-tabs-content-wrapper > div { float: left; display: block; height: 1px; visibility: hidden; }
.et_sliderfx_slide .et-tabs-content-wrapper > div, .et_sliderfx_fade .et_slidecontent { word-wrap: break-word; }
.et_sliderfx_slide .et_shortcode_slide_active { height: auto !important; }
.et-tabs-container .et-tabs-content { margin: 30px 30px 20px; }

.et-tabs-container ul.et_shortcodes_mobile_nav { border-bottom: 1px solid #e7e7e7; }
.et-tabs-container ul.et_shortcodes_mobile_nav li { float: right; line-height: 26px; }
.et-tabs-container ul.et_shortcodes_mobile_nav a { display: block; padding: 16px 10px 16px 45px; color: #999 !important; font-size: 14px; text-shadow: 1px 1px 0 #fff !important; }
.et-tabs-container ul.et_shortcodes_mobile_nav a.et_sc_nav_next { padding: 16px 45px 16px 10px; text-align: right; }
.et-tabs-container ul.et_shortcodes_mobile_nav a:hover { text-decoration: none; color: #4c4c4c !important; }
.et-tabs-container ul.et_shortcodes_mobile_nav .et_sc_nav_next:before { position: absolute; content: ''; top: 0; left: 0; width: 1px; height: 100%; background: #e7e7e7; -moz-box-shadow: 1px 0 0 #fff; -webkit-box-shadow: 1px 0 0 #fff; box-shadow: 1px 0 0 #fff; }

.et-tabs-container ul.et_shortcodes_mobile_nav .et_sc_nav_next span { right: 28px; }
.et-tabs-container ul.et_shortcodes_mobile_nav .et_sc_nav_prev span { left: 28px; }		

.et-tabs-container, .tabs-left, .et-simple-slider, .et-image-slider, .et-testimonial-box, .author-shortcodes, .et-protected { -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.tabs-left { background: #fff; border: 1px solid #e7e7e7; position: relative; margin-bottom: 15px; }
.tabs-left .et-tabs-control, .tabs-left ul.et_shortcodes_mobile_nav { width: 149px; border-top: 1px solid #fff; float: left; list-style:none outside none !important; margin:0 !important; position: relative; }
.tabs-left ul.et_shortcodes_mobile_nav { position: absolute; top: 0; left: 0; }
.tabs-left .et-tabs-control li, .tabs-left ul.et_shortcodes_mobile_nav li { padding-right: 0 !important; padding-left: 0 !important; background: none !important; list-style: none !important; border-bottom: 1px solid #e7e7e7; -moz-box-shadow: 0 1px 0 0 #fff; -webkit-box-shadow: 0 1px 0 0 #fff; box-shadow: 0 1px 0 0 #fff; }
.tabs-left .et-tabs-control li a { color: #999 !important; font-size: 14px; text-shadow: 1px 1px 0 #fff !important; display: block; padding: 15px 10px 15px 20px; }
.tabs-left .et-tabs-control li.active a { background: #fff; margin-right: -1px; }
.tabs-left .et-tabs-control li a:hover, .tabs-left .et-tabs-control li.active a { text-decoration: none; color: #4c4c4c !important; }
.tabs-left .et-tabs-content { margin: 30px 30px 20px 180px; position: relative; } 
.tabs-left .et-tabs-content h3 { padding-bottom: 14px; color: #333333; }
.et_left_tabs_bg { position: absolute; top: 0; left: 0; width: 148px; height: 100%; border-right: 1px solid #e7e7e7; border-left: 1px solid #fff; background: #f5f5f5;  background: -moz-linear-gradient(left, #f9f9f9 0%, #f5f5f5 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f9f9f9), color-stop(100%,#f5f5f5)); background: -webkit-linear-gradient(left, #f9f9f9 0%,#f5f5f5 100%); background: -o-linear-gradient(left, #f9f9f9 0%,#f5f5f5 100%); background: -ms-linear-gradient(left, #f9f9f9 0%,#f5f5f5 100%); background: linear-gradient(to right, #f9f9f9 0%,#f5f5f5 100%); }

.tabs-left ul.et_shortcodes_mobile_nav  a { text-indent: -9999px; }
.tabs-left ul.et_shortcodes_mobile_nav a span { top: 50%; margin-top: -7px; }
.tabs-left ul.et_shortcodes_mobile_nav .et_sc_nav_next span { right: 50%; margin-right: -4px; }
.tabs-left ul.et_shortcodes_mobile_nav .et_sc_nav_prev span { left: 50%; margin-left: -4px; }		

.author-shortcodes { background: #fff; border: 1px solid #e7e7e7; color: #363636; font-size: 14px; margin-bottom: 10px; }
.author-shortcodes .author-inner { position: relative; padding: 30px 30px 20px 117px; min-height: 60px; }
.author-shortcodes .author-image { position: absolute; top: 32px; left: 30px; width: 60px; height: 60px; }
.author-shortcodes .author-image img { max-width: 100%; height: auto; width: auto; }
.author-shortcodes .author-image .author-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5); -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.5); box-shadow: inset 0 0 4px rgba(0,0,0,0.5); }

.et-protected { border: 1px solid #e7e7e7; width: 390px; background: #fff; margin-bottom: 10px; }
.et-protected-title { border-left: 1px solid #fff; border-top: 1px solid #fff; border-bottom: 1px solid #e7e7e7; padding: 18px 10px 17px 50px; position: relative; color: #999; text-shadow: 0 1px 0 #fff; font-size: 14px; }
.et-protected-title:before { content: ''; position: absolute; top: 16px; left: 20px; background: url(../images/shortcodes-sprite.png) no-repeat -23px -36px; width: 17px; height: 19px; }
.et-protected-form { padding: 32px 37px 32px 32px; text-align: right; }
.et-protected-form p { padding-bottom: 16px; }
.et-protected-form p label { position: relative; }
.et-protected-form p .et_protected_icon { width: 10px; height: 20px; position: absolute; top: 2px; left: 18px; background: url(../images/shortcodes-sprite.png) no-repeat -190px -37px; display: block; }
.et-protected-form p .et_protected_password { height: 23px; background-position: -275px -2px; }
.et-protected-form label span { display: none; }
.et-protected-form p input { margin: 0 !important; border: 1px solid #e7e7e7; color: #363636; font-size: 14px; background: #f3f3f3; background: -moz-linear-gradient(top, #f3f3f3 1%, #fefefe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f3f3f3), color-stop(100%,#fefefe)); background: -webkit-linear-gradient(top, #f3f3f3 1%,#fefefe 100%); background: -o-linear-gradient(top, #f3f3f3 1%,#fefefe 100%); background: -ms-linear-gradient(top, #f3f3f3 1%,#fefefe 100%); background: linear-gradient(to bottom, #f3f3f3 1%,#fefefe 100%); padding: 20px 20px 20px 40px; width: 100%; -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.1); -moz-box-shadow: inset 0 0 1px rgba(0,0,0,0.1); box-shadow: inset 0 0 1px rgba(0,0,0,0.1); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: relative; }

.et-protected-form input.etlogin-button { background: #f9f9f9; background: -moz-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f5f5f5)); background: -webkit-linear-gradient(top, #f9f9f9 0%,#f5f5f5 100%); background: -o-linear-gradient(top, #f9f9f9 0%,#f5f5f5 100%); background: -ms-linear-gradient(top, #f9f9f9 0%,#f5f5f5 100%); background: linear-gradient(to bottom, #f9f9f9 0%,#f5f5f5 100%); border: 1px solid #e7e7e7; padding: 14px 24px; color: #999; text-shadow: 0 1px 0 #fff; font-size: 14px; -webkit-box-shadow: inset 1px 1px 0 0 #fff; -moz-box-shadow: inset 1px 1px 0 0 #fff; box-shadow: inset 1px 1px 0 0 #fff; }

.et-simple-slides .et_slidecontent { width: auto; }

.et-image-slides { background: #555; }
.et-image-slider { background: #fff; border: 1px solid #e7e7e7; margin-bottom:25px; }
.et-image-slide { position: relative; }
.et-image-slider img { display: block; width: auto; margin: 0 auto; height: auto; }
.et-image-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.6); -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.6); box-shadow: inset 0 0 5px rgba(0,0,0,0.6); }

.et-learn-more, .et-tabs-container, .tabs-left, .et-simple-slider, .author-shortcodes, .et-tooltip-box { color:#201F1F !important; text-shadow: none !important; }
.et-learn-more a, .et-tabs-container a, .tabs-left a, .et-simple-slider a, .author-shortcodes a, .et-tooltip-box a { text-shadow: none !important; }

.et-custom-list ul { list-style: none !important; list-style-image: none !important; padding-left: 0 !important; margin: 0 !important; line-height: 26px; }
.et-custom-list ul li { padding-left: 28px !important; margin: 5px 0 !important; list-style: none !important; position: relative; }
.et-custom-list ul li:before { content: ''; position: absolute; top: 5px; left: 0; background: url(../images/shortcodes-sprite.png) no-repeat -74px -2px; width: 22px; height: 18px; }
.etlist-x ul li:before { content: ''; position: absolute; top: 6px; left: 0; background: url(../images/shortcodes-sprite.png) no-repeat -75px -21px; width: 22px; height: 18px; }
.etlist-dot ul li { padding-left: 25px !important; }
.etlist-dot ul li:before { content: ''; position: absolute; top: 9px; left: 0; background: url(../images/shortcodes-sprite.png) no-repeat -230px -3px; width: 10px; height: 9px; }
.et-custom-list ul li ul { padding: 2px 0px !important; margin: 0 !important; }


.et-testimonial-box { border: 1px solid #e7e7e7; background: #fff; position: relative; margin: 10px 0 45px; }
.et-testimonial-author-info { border-left: 1px solid #fff; border-top: 1px solid #fff; border-bottom: 1px solid #e7e7e7; padding: 20px 20px 15px; text-shadow: 0 1px 0 #fff; }
.t-img { width: 60px; height: 60px; float: left; margin: 0 25px 5px 0; -moz-box-shadow: 0 1px 0 0 #fff; -webkit-box-shadow: 0 1px 0 0 #fff; box-shadow: 0 1px 0 0 #fff; position: relative; }
.t-img img { max-width: 100%; height: auto; }
.t-overlay { width: 100%; height: 100%; box-shadow: inset 0 0 4px rgba(0,0,0,0.4); display: block; position: absolute; top: 0; left: 0; }
.t-author, .t-position { display: block; }
.t-author { font-size: 18px; color: #999; padding: 10px 0 5px; }
.t-position { color: #595959; }
.t-position, .et-testimonial { font-family: Georgia, serif; font-style: italic; font-size: 14px; }
.et-testimonial { padding: 43px 35px 30px 77px; color: #363636; position: relative; text-shadow: none !important; }
.et-testimonial:before { content: ''; position: absolute; top: 43px; left: 35px; width: 25px; height: 19px; background: url(../images/shortcodes-sprite.png) no-repeat -45px -35px; }
.t-bottom-arrow { background: url(../images/shortcodes-sprite.png) no-repeat -97px -25px; width: 31px; height: 32px; position: absolute; bottom: -32px; right: 40px; }


.et-dropcap { font-size: 48px; float: left; display:block; margin:0 7px 0 0; line-height: 1; }

.et_quote { padding-left: 57px; min-height: 40px; font-family: Georgia, serif; font-size: 14px; font-style: italic; position: relative; line-height: 1.5; margin-bottom: 10px; }
.et_quote .et_quote_sign { background: url(../images/shortcodes-sprite.png) no-repeat -206px -20px; position: absolute; top: 0; left: 0; display: block; width: 40px; height: 34px; }
.quote-center .et_quote_sign { background-position: -251px -2px; width: 20px; height: 16px; top: 3px; }
.quote-center .et_quote_additional_sign { background: url(../images/shortcodes-sprite.png) no-repeat -251px -22px; position: absolute; top: 3px; right: 13px; display: block; width: 20px; height: 16px; }
.et_right_quote { width: 100%; }
.quote-center { font-size: 24px; line-height: 1.2; text-align: center; padding-left: 30px; }
.quote-center .et_right_quote { padding-right: 30px; width: 95%; }


.et-tabs-container .et-tabs-control { padding: 0; }
.tabs-left .et-tabs-control { padding-left: 0; }
.author-info h1, .author-info h2, .author-info h3, .author-info h4, .author-info h5, .author-info h6 { color:#201F1F !important; text-shadow: none !important; }

.et-tabs-container .et-tabs-control li a, .tabs-left .et-tabs-control li a { text-decoration: none !important; }

.big-button, .small-button, a.icon-button { cursor: pointer; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */		

.last { margin-right: 0px !important; clear:right; }
.clear { clear:both; }


/*   
--------- END  SHORTCODE   ------------
*/


/*   
--------- START System Wide FORM CSS ------------
*/
.MyGroup {
    width: 100%;
    float: left;
    padding: 0px 10px;
}
.MyGroup .InputGroup {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0px;
}
.MyGroup .InputGroup label {
    width: 240px;
    text-align: right;
    vertical-align: middle;
    padding-right: 10px;
    display: inline-block;
}

.MyGroup .InputGroup input, .MyGroup .InputGroup select  {
    width: auto;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
.MyGroup .InputGroup select {
    width: 282px;
}
.MyGroup .InputGroup input[type=text],
.MyGroup .InputGroup textarea,
.MyGroup .InputGroup input[type=password] {
    width: 250px;
}
.MyGroup .InputGroup textarea {
    height: 100px;
}

.btn ,.MyGroup .Submit input,.MyGroup .Cancel button, .MyGroup .InputGroup  input[type=submit]  {
    background: linear-gradient(to bottom, #F5F5F5 0%, #E2E2E2 100%) repeat scroll 0 0 transparent;
    border: 1px solid #C3C3C3;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.9) inset, 1px 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #595A5A !important;
    text-shadow: 1px 1px 1px #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    line-height: 26px;
    margin: 8px 6px 8px 0;
    padding: 14px 24px;
}
.MyGroup .Cancel button {
    line-height: 12px;
}
.MyGroup .Submit input:hover,.MyGroup .Cancel button:hover { 
    color: #454545 !important; 
    background: linear-gradient(to bottom, #FfFfFf 0%, #EdEdEd 100%) repeat scroll 0 0 transparent;
}
.Buttons .InputGroup:first-child {
    margin-left: 250px;
}
.Buttons .InputGroup {
    width: auto;
}
.multi_row_data .header_title .title {
    display: inline-block;
    font-weight: bold;
    padding: 5px 10px;
}
.forms_container .form_row .InputGroup  {
    width: auto;
    padding: 5px 10px;
}

/*   
--------- END System Wide FORM CSS ------------
*/


/*   
--------- START Grid DIV ACT AS TABLE ------------
*/
div.table {
    display: table; 
    width: 920px;
}
div.tr {
    display: table-row; 
}
div.td {
    display: table-cell; 
    padding: 5px;
}
div.table div.header_title div.td {
    font-weight: bold;
    font-size: 14px;
    padding: 10px 5px;
    border-bottom: 1px solid #000000;
}

div.table div.tr:nth-child(2n+1) {
    background: #dfdfdf;
}
div.table div.tr:nth-child(1){
    background: none;
}
.pagination {
    border-top: 1px dotted;
    color: #A1A1A1;
    font-size: 22px;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    width: 97.5%;
}


.Header_titles h1 {
    display: inline-block;
    margin: 0px 30px 0px 0px;
}
.Header_titles .add_link {
    display: inline-block;
    vertical-align: super;
}

.pagination a, .pagination a:link, .pagination a:visited {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    color: #A1A1A1 !important;
    font-weight: normal !important;
    margin: 2px;
    padding: 5px 7px !important;
    text-decoration: none;
}
.pagination a, .pagination a:link, .pagination a:visited {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    color: #549EB9 !important;
    font-weight: normal !important;
    margin: 2px;
    padding: 5px 7px !important;
    text-decoration: none;
}
.pagination .pages {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    display: block;
    font-size: 14px;
    font-style: italic;
    margin: 2px 2px 14px !important;
    padding: 5px 7px !important;
    border: 1px solid #BFBFBF;
    margin: 2px;
    padding: 3px 5px;
    text-decoration: none;
}
.pagination .curent_page {
    color: #23528c;
}
/*   
--------- END Grid DIV ACT AS TABLE ------------
*/