/* 
    Document   : dashboard
    Created on : 3/10/2013, 1:45:08 PM
    Author     : Admin
    Description:
        Purpose of the stylesheet follows.
*/

.profile {
    border-right: 1px solid #ccc;
}