/* 
    Document   : timesheet
    Created on : 12/09/2013, 10:28:36 AM
    Author     : Admin
    Description:
        Purpose of the stylesheet follows.
*/

.control-input.timesheet_row .start_time, 
.control-input.timesheet_row .end_time
{
    width: 20%;
    margin: 0 1% 0px 0px;
}
.control-input.timesheet_row .notes {
    width: 54%;
    max-width: 54%;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.timesheet_label .start_time_label,
.timesheet_label .end_time_label,
.timesheet_label .notes_label
{
    width: 22%;
    padding-left: 4px;
    font-weight: bold;
    display: inline-block;
}
.timesheet_date {
    margin-bottom: 10px;
}